<p style="color: green"><%= notice %></p>

<h1>Vitals</h1>

<div id="vitals">
  <% @vitals.each do |vital| %>
    <%= render vital %>
    <p>
      <%= link_to "Show this vital", vital %>
    </p>
  <% end %>
</div>

<%= link_to "New vital", new_vital_path %>
